<form class='mt-5 w-75 mx-auto d-flex justify-content-center align-items-center' action='/google/infos' method='GET'>
	<input
		type='text'
		id='search-input'
		class='w-50 p-2'
		placeholder='輸入餐廳關鍵字...'
		name="input"
		required
	/>
	<button type='submit' class='btn btn-primary mx-2'>自動填寫</button>
</form>

<form class='mt-5 w-75 mx-auto' action='/restaurants' method='POST'>
	<div class='mb-3'>
		<label for='name' class='form-label'>店名</label>
		<input
			type='text'
			class='form-control'
			id='name'
			name='name'
			placeholder='梅子鰻蒲燒專賣店'
			{{#if placeDetailsData}}
			value="{{placeDetailsData.name}}"
			{{/if}}
			required
		/>
	</div>
	<div class='mb-3'>
		<label for='name-eng' class='form-label'>英文店名</label>
		<input
			type='text'
			class='form-control'
			id='name-eng'
			name='nameEng'
			placeholder='Umeko Japanese Unagi House'
			required
		/>
	</div>
	<div class='mb-3'>
		<label for='category'>類別</label>
		<input
			list='categories'
			class='form-control'
			id='category'
			name='category'
			placeholder='日本料理'
			required
		/>
		<datalist id='categories'>
			<option>中東料理</option>
			<option>日本料理</option>
			<option>義式餐廳</option>
			<option>美式</option>
			<option>酒吧</option>
		</datalist>
	</div>
	<div class='mb-3'>
		<label for='image' class='form-label'>照片</label>
		<input
			type='url'
			class='form-control'
			id='image'
			name='image'
			placeholder='https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5628/02.jpg'
			required
		/>
	</div>
	<div class='mb-3'>
		<label for='location' class='form-label'>地址</label>
		<input
			type='text'
			class='form-control'
			id='location'
			name='location'
			placeholder='台北市中山區林森北路 107 巷 8 號'
			{{#if placeDetailsData}}
			value="{{placeDetailsData.formatted_address}}"
			{{/if}}
			required
		/>
	</div>
	<div class='mb-3'>
		<label for='phone' class='form-label'>電話</label>
		<input
			type='tel'
			class='form-control'
			id='phone'
			name='phone'
			placeholder='02 2521 2813'
			{{#if placeDetailsData}}
			value="{{placeDetailsData.formatted_phone_number}}"
			{{/if}}
			required
		/>
	</div>
	<div class='mb-3'>
		<label for='google-map' class='form-label'>Google map</label>
		<input
			type='url'
			class='form-control'
			id='google-map'
			name='googleMap'
			placeholder='https://goo.gl/maps/cUJEmFSRKyH2'
			{{#if placeDetailsData}}
			value="{{placeDetailsData.url}}"
			{{/if}}
			required
		/>
	</div>
	<div class='mb-3'>
		<label for='rating' class='form-label'>評分</label>
		<input
			type='number'
			class='form-control'
			id='rating'
			name='rating'
			max='5'
			min='0'
			step='0.1'
			placeholder='4.3'
			{{#if placeDetailsData}}
			value="{{placeDetailsData.rating}}"
			{{/if}}
			required
		/>
	</div>
	<div class='mb-3'>
		<label class='d-block' for='description'>介紹</label>
		<textarea
			class='w-100'
			id='description'
			name='description'
			placeholder=' 鰻魚、鰻魚飯、真空鰻魚'
			required
		>{{#if placeDetailsData}}Visit website at: {{placeDetailsData.website}}{{/if}}</textarea>
	</div>
	<button type='submit' class='btn btn-primary'>新增</button>
</form>